.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.ant-modal-footer{
    display: flex;
    justify-content: space-between;
}

.ant-btn {
  background-color: #3A3845;
  border: none;
}

.ant-btn:hover{
  background-color: #3A3845;
}

.ant-btn:active{
  background-color: #3A3845;
}