.App{
  display: flex;
  flex-direction: column;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 33px;
}

.list-component{
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-link{
  color: black;
  font-size: large;
  border: 1px solid grey;
  padding: 5px;
}
