.App{
  display: flex;
  flex-direction: column;
}

.title{
  font-family: 'Lato', sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 33px;
  box-shadow: 0 5px 17px -2px rgb(0 0 0 / 20%);
}

.list-component{
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-link{
  color: black;
  font-size: large;
  padding: 10px 15px;
}

.message-link:hover{
  background-color: #3A3845;
  color: white;
  border-radius: 20px;
}
